node_modules/
dist/
qa/
.DS_Store
*.log
release/*
!release/windows/
release/windows/*
!release/windows/Cargo Stacker Setup 0.1.0.exe
android/.gradle/
android/local.properties
android/**/build/*
!android/app/build/
!android/app/build/outputs/
android/app/build/outputs/*
!android/app/build/outputs/apk/
android/app/build/outputs/apk/*
!android/app/build/outputs/apk/debug/
android/app/build/outputs/apk/debug/*
!android/app/build/outputs/apk/debug/app-debug.apk
ios/App/Pods/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/DerivedData/
